
section#brand.brand
  .container
    .brand-area
      .owl-carousel.owl-theme.brand-item
        .item
          a(href='#')
            img(loading='lazy' src='assets/images/brand/br1.png' alt='brand-image')
        
        .item
          a(href='#')
            img(loading='lazy' src='assets/images/brand/br2.png' alt='brand-image')
        
        .item
          a(href='#')
            img(loading='lazy' src='assets/images/brand/br3.png' alt='brand-image')
        
        .item
          a(href='#')
            img(loading='lazy' src='assets/images/brand/br4.png' alt='brand-image')
        
        .item
          a(href='#')
            img(loading='lazy' src='assets/images/brand/br5.png' alt='brand-image')
        
        .item
          a(href='#')
            img(loading='lazy' src='assets/images/brand/br6.png' alt='brand-image')
        
      
    
  


