
section#clients-say.clients-say
  .container
    .section-header
      h2 what our clients say
    
    .row
      .owl-carousel.testimonial-carousel
        .col-sm-3.col-xs-12
          .single-testimonial-box
            .testimonial-description
              .testimonial-info
                .testimonial-img
                  img(loading='lazy' src='assets/images/clients/c1.webp' alt='image of clients person')
                
              
              .testimonial-comment
                p
                  | Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit.
              
              .testimonial-person
                h2
                  a(href='#') tomas lili
                h4 new york
              
            
          
        
        .col-sm-3.col-xs-12
          .single-testimonial-box
            .testimonial-description
              .testimonial-info
                .testimonial-img
                  img(loading='lazy' src='assets/images/clients/c2.webp' alt='image of clients person')
                
              
              .testimonial-comment
                p
                  | Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit.
              
              .testimonial-person
                h2
                  a(href='#') romi rain
                h4 london
              
            
          
        
        .col-sm-3.col-xs-12
          .single-testimonial-box
            .testimonial-description
              .testimonial-info
                .testimonial-img
                  img(loading='lazy' src='assets/images/clients/c3.webp' alt='image of clients person')
                
              
              .testimonial-comment
                p
                  | Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit.
              
              .testimonial-person
                h2
                  a(href='#') john doe
                h4 washington
              
            
          
        
      
    
  


