// Include all js compiled plugins (below), or include individual files as needed
script(src='assets/js/jquery.js')
// modernizr.min.js
script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
// bootstrap.min.js
script(src='assets/js/bootstrap.min.js')
// bootsnav js
script(src='assets/js/bootsnav.js')
// owl.carousel.js
script(src='assets/js/owl.carousel.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Custom JS
script(src='assets/js/custom.js')
script(src='assets/js/fonts.js')
script(src='assets/js/main.css.js')
