
section#featured-cars.featured-cars
  .container
    .section-header
      p
        | checkout 
        span the
        |  featured cars
      h2 featured cars
    
    .featured-cars-content
      .row
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc1.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#') BMW 6-series gran coupe
              h3 $89,395
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc2.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  | chevrolet camaro 
                  span wmv20
              h3 $66,575
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc3.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  | lamborghini 
                  span v520
              h3 $125,250
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc4.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  | audi 
                  span  a3
                  |  sedan
              h3 $95,500
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
      .row
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc4.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  | infiniti 
                  span z5
              h3 $36,850
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc5.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  | porsche 
                  span 718
                  |  cayman
              h3 $48,500
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc7.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  span bmw 8-
                  | series coupe
              h3 $56,000
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
        .col-lg-3.col-md-4.col-sm-6
          .single-featured-cars
            .featured-img-box
              .featured-cars-img
                img(loading='lazy' src='assets/images/featured-cars/fc8.webp' alt='cars')
              .featured-model-info
                p
                  | model: 2017
                  span.featured-mi-span  3100 mi
                  span.featured-hp-span  240HP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; automatic
            .featured-cars-txt
              h2
                a(href='#')
                  | BMW 
                  span  x
                  | series-6
              h3 $75,800
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
  


