doctype html
html.no-js(
    lang="en"
)
  include head.pug
  body
    .
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    include hero.pug
    include service.pug
    include new-cars.pug
    include featured-cars.pug
    include client-say.pug
    include brand.pug
    include blog.pug
    include contacts.pug
    include end.pug