
section#service.service
  .container
    .service-content
      .row
        .col-md-4.col-sm-6
          .single-service-item
            .single-service-icon
              i.flaticon-car
            h2
              a(href='#')
                | largest dealership 
                span  of
                |  car
            p
              | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut den fugit sed quia.
        .col-md-4.col-sm-6
          .single-service-item
            .single-service-icon
              i.flaticon-car-repair
            h2
              a(href='#') unlimited repair warrenty
            p
              | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut den fugit sed quia.
        .col-md-4.col-sm-6
          .single-service-item
            .single-service-icon
              i.flaticon-car-1
            h2
              a(href='#') insurence support
            p
              | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut den fugit sed quia.
  


